tms-electron-app/automation-apps/microsoft-login-n8n-demo/n8n-webhook-microsoft-login-demo.json
{
  "name": "Microsoft Login Excel Demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "microsoft-login-excel-demo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        160
      ],
      "webhookId": "microsoft-login-excel-demo"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file",
        "options": {
          "headerRow": true
        }
      },
      "id": "2",
      "name": "Extract Spreadsheet",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -340,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((item) => item.json);\n\nreturn [{\n  json: {\n    rows,\n    postLoginWaitMs: 5000,\n    staySignedInAction: 'no'\n  }\n}];"
      },
      "id": "3",
      "name": "Build Login Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        160
      ],
      "mode": "runOnceForAllItems"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:3002/run-login",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-executor-token",
              "value": "replace-with-local-executor-token"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "4",
      "name": "Run Microsoft Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        140,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        380,
        160
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Spreadsheet": {
      "main": [
        [
          {
            "node": "Build Login Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Login Payload": {
      "main": [
        [
          {
            "node": "Run Microsoft Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Microsoft Login": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "microsoft-login-excel-demo-v1"
}
